
<link rel="stylesheet" href="../css/custom-retro.css" />
<link rel="stylesheet" href="../diaporama/agate.css" />
<div id="doc" class="markdown-body container-fluid"><h1 id="Git-en-local-vscode">Bonus Git en local <img src="../images/logo-git.png" width="45">&nbsp;<img src="../images/1200px-Visual_Studio_Code_1.35_icon.svg.png" width="45">&nbsp;<img src="../images/dungeon-gate.svg" width="45"></h1><p>Cette page contient des exercices supplémentaires pour les curieux sur le travail en local, ils sont indépendants.<br>

    <h2 id="depot-local">Votre dépôt local</h2>

    <p>Il peut être appréciable de s'intéresser à ce qu'il se passe sur votre branche par rapport à une autre, ou d'un commit à un autre. Pour cela git intègre la commande <span style="color:orangered">diff</span>. Créez une branche, ajoutez un fichier puis constatez les différences avec la branche de départ.</p>
    <blockquote>
        <p>Le fonctionnement est le même avec des branches sur un dépôt distant, ce qui s'avère très pratique dans beaucoup de situations.</p>
    </blockquote>
    <details><summary>Solution</summary>
        <p>
        </p><pre><code class="git hljs"><span class="hljs-title">git</span> <span class="hljs-keyword">checkout -b</span> <span class="hljs-string">"branche-differente"</span> 
<span class="hljs-title">echo</span> <span class="hljs-keyword">"toto"</span> > toto.txt 
<span class="hljs-title">git</span> <span class="hljs-keyword">add </span>. && <span class="hljs-title">git</span> <span class="hljs-keyword">commit -m</span> <span class="hljs-string">"add toto.txt"</span> 
<span class="hljs-title">git</span> <span class="hljs-keyword">diff</span> <span class="hljs-string">master..branche-differente</span> 
</code></pre>
        <p></p>
        </details><br>


<h2 id="Quelques-concepts-de-versionning-2">Gestion des fichiers au niveau de l'index</h2>
<h3 id="remisage-stash">Retour au dernier commit</h3>
   <p>Une des propriétés de la fonctionnalité de checkout est qu'elle permet également de revenir a l'index, il existe également une fonctionnalité de <span style="color:orangered">reset</span> dans git : (documentation <a href="https://git-scm.com/docs/git-reset" target="_blank">git reset</a>, <a href="https://git-scm.com/docs/git-checkout" target="_blank">git checkout</a>). Créez un fichier <span style="color:orange">toto.txt</span>, puis utilisez <span style="color:orangered">reset</span> ou <span style="color:orangered">checkout</span> pour le faire disparaitre. Globalement, ne faites cela que si vous ne voulez jamais accéder aux changements, sinon pensez à stash ou à deposer votre travail sur une autre branche  </p>
   <details><summary>Solution</summary>
    <p>
    </p><pre><code class="git hljs"><span class="hljs-string"># avec checkout</span>
<span class="hljs-title">echo</span> <span class="hljs-keyword">"__avant-toto__"</span> > log.txt && <span class="hljs-title">git</span> <span class="hljs-keyword">status</span> >> log.txt
<span class="hljs-title">echo</span> <span class="hljs-keyword">"toto"</span> > toto.txt
<span class="hljs-title">echo</span> <span class="hljs-keyword">"__apres-toto__"</span> >> log.txt && <span class="hljs-title">git</span> <span class="hljs-keyword">status</span> >> log.txt
<span class="hljs-title">git</span> checkout .
<span class="hljs-title">echo</span> <span class="hljs-keyword">"apres-checkout-."</span> >> log.txt && <span class="hljs-title">git</span> <span class="hljs-keyword">status</span> >> log.txt
<span class="hljs-title">cat</span> log.txt && <span class="hljs-title">rm</span> log.txt && <span class="hljs-title">rm</span> toto.txt
<span class="hljs-string"># avec reset</span>
<span class="hljs-title">echo</span> <span class="hljs-keyword">"__avant-toto__"</span> > log.txt && <span class="hljs-title">git</span> <span class="hljs-keyword">status</span> >> log.txt
<span class="hljs-title">echo</span> <span class="hljs-keyword">"toto"</span> > toto.txt
<span class="hljs-title">echo</span> <span class="hljs-keyword">"__apres-toto__"</span> >> log.txt && <span class="hljs-title">git</span> <span class="hljs-keyword">status</span> >> log.txt
<span class="hljs-title">git</span> reset --hard
<span class="hljs-title">echo</span> <span class="hljs-keyword">"apres-reset-hard."</span> >> log.txt && <span class="hljs-title">git</span> <span class="hljs-keyword">status</span> >> log.txt
<span class="hljs-title">cat</span> log.txt && <span class="hljs-title">rm</span> log.txt && <span class="hljs-title">rm</span> toto.txt
</code></pre>
    <p></p>
    </details><br>
   <h3 id="remisage-stash">Remisage / Stash</h3>
    <p>Imaginez que vous soyez en plein travail , et que l'on vous demande une chose urgente, vous pouvez ajouter commit sur une branche à coté ou décider d'utiliser un système alloué à cette fonctionnalité, le stash. Créez donc un fichier <span style="color:orange">toto.txt</span>, stashez le puis créez en un autre <span style="color:orange">notToto.txt</span> finissez ensuite par remiser le fichier stashé. Cela vous sera toujours utile quand vous aurez beaucoup de travail sur le feu.</p>
    <details><summary>Solution</summary>
        <p>
        </p><pre>
<span class="hljs-title">echo</span> <span class="hljs-keyword">"toto"</span> > toto.txt
<span class="hljs-title">git</span>  <span class="hljs-keyword">stash</span>
<span class="hljs-title">echo</span> <span class="hljs-keyword">"notToto"</span> > notToto.txt
<span class="hljs-title">git</span>  <span class="hljs-keyword">add</span> . && <span class="hljs-title">git</span> <span class="hljs-keyword">commit</span> -m <span class="hljs-string">"Hotfix"</span>
<span class="hljs-title">git</span> <span class="hljs-keyword">stash</span> apply</code></pre>
        <p></p>
        </details><br>

<h2 id="Quelques-concepts-de-versionning-2">Versionning</h2>
<h3 id="retour-vers-le-passe">Retour vers le passé</h2>
<p>Il peut être possible que vous ayez envie de consulter une ancienne version de votre projet pour le rebuilder par exemple. Accédez a la version d'origine de ce dépot. <a href="https://git-scm.com/docs/git-checkout" target="_blank">(documentation git checkout)</a></p>
<blockquote>
    <p>Un autre usage peut être de récupérer des anciens fichiers dans l'index par exemple </p>
</blockquote>
<details><summary>Solution</summary>
    <p>
    </p><pre><code class="git hljs"><span class="hljs-string"># l'objectif ici est de recupérer le sha du premier commit puis de se</span>
<span class="hljs-string"># déplacer sur le dépot du passé  avec la commande git checkout [sha]</span>
<span class="hljs-string"># Recuperation du sha en ligne de commande : git log --oneline</span>
<span class="hljs-title">PREMIER_SHA_COMMIT</span>=$(<span class="hljs-keyword">git</span> log  --pretty=oneline | <span class="hljs-keyword">tail</span> -n 1 | <span class="hljs-keyword">cut</span> -d' ' -f 1)
<span class="hljs-string"># Déplacement vers le passé</span>
<span class="hljs-title">git</span> checkout <span class="hljs-keyword">$PREMIER_SHA_COMMIT</span>
</code></pre>
    <p></p>
    </details><br>
<h3 id="revert">Annuler l'effet d'un commit existant</h2>
    <p>Effectuez un commit annulant le dernier commit en date par l'utilisation d'un revert. Le revert permet d'isoler tout ce qui concerne le commit et l'inverse dans le dépot local, attention, cela peut entrainer des conflits dans le cadre de fichiers modifiés entre un commit à revert et le commit le plus récent  <span style="color:orangered">(HEAD)</span>. <a href="https://git-scm.com/docs/git-revert" target="_blank">(documentation git revert)</a> </p>
<details><summary>Solution</summary>
    <p>
    </p><pre><code class="git hljs"><span class="hljs-string"># l'objectif ici est de recupérer le sha du premier commit puis de se</span>
<span class="hljs-string"># déplacer sur le dépot du passé  avec la commande git checkout [sha]</span>
<span class="hljs-string"># Recuperation du commit le plus récent en cli : git log --oneline</span>
<span class="hljs-title">RECENT_SHA_COMMIT</span>=$(<span class="hljs-keyword">git</span> log  --pretty=oneline | <span class="hljs-keyword">head</span> -n 1 | <span class="hljs-keyword">cut</span> -d' ' -f 1)
<span class="hljs-string"># Déplacement vers le passé</span>
<span class="hljs-title">git</span> revert <span class="hljs-keyword">$RECENT_SHA_COMMIT</span>
</code></pre>
    <p></p>
    </details><br></div>