<link rel="stylesheet" href="../css/custom-retro.css" />
<link rel="stylesheet" href="../diaporama/agate.css" />
<div id="doc" class="markdown-body container-fluid"><h1 id="Gitlab---travaux-pratiques">Gitlab - travaux pratiques <img src="../images/logo-gitlab.svg" width="50"></h1><h2 id="Fonctionnement-issues--merge-requests">Fonctionnement issues / merge requests</h2><blockquote>
    <p>Gitlab offre des solutions clés en main pour la contribution et la gestion de projet interne.</p>
    </blockquote><blockquote>
    <p>Ainsi on peut spécifier un bug / une fonctionnalité via les issues, puis relier la spécification au développement ainsi qu’au suivi de la réalisation (commentaires/ merge requests)</p>
    </blockquote><p>A partir du dépot de l’application forkée dans la partie précédente, proposez une contribution a l’une des méthodes java qui ne passe pas les tests unitaires.</p><blockquote>
    <p>spoiler : les tests sont désactivés, réactivez les</p>
    </blockquote><p>Cela correspond donc au développement d’une solution, puis un push sur votre dépot, puis une demande de contribution et un signalement de bug (issue)</p><details><summary>Aide</summary>
    <ul>
    <li>
    <p><a href="https://www.tutorialspoint.com/gitlab/gitlab_create_issue.html" target="_blank">Faire une issue sur gitlab</a></p>
    </li>
    <li>
    <p><a href="https://docs.gitlab.com/ee/user/project/repository/web_editor.html#create-a-new-branch-from-an-issue" target="_blank">Faire une merge request sur gitlab a partir d’une issue</a></p>
    </li>
    <li>
    <p><a href="https://docs.gitlab.com/ee/user/project/merge_requests/creating_merge_requests.html" target="_blank" rel="noopener">Faire une merge request sur gitlab a partir d’une branche qui existe (2 premiers paragraphes)</a></p>
    </li>
    </ul>
    </details><details><summary>Solution</summary>
           <p>
    </p><pre><code class="git hljs"><span class="hljs-string"># Ne travaillez pas sur master pour la contribution, ça fera des conflits 
# gratuits si le dépot depuis lequel vous forkez se met a jour</span>
<span class="hljs-title">git</span> <span class="hljs-keyword">checkout</span> -b "feature"    
    </code></pre>
    <p>ou</p>
    <p>Signalez l’issue sur gitlab puis faites : create-merge-request</p>
    <p>aide exemple : <a href="https://www.tutorialspoint.com/gitlab/gitlab_create_issue.htm" target="_blank" rel="noopener">https://www.tutorialspoint.com/gitlab/gitlab_create_issue.htm</a></p>
    <p>puis</p>
    <pre><code class="git hljs"><span class="hljs-string"># Faites le travail puis</span>
<span class="hljs-title">git</span> <span class="hljs-keyword">add</span> . &amp;&amp; <span class="hljs-title">git</span> <span class="hljs-keyword">commit</span> -m "feature" &amp;&amp; <span class="hljs-title">git</span> <span class="hljs-keyword">push</span>      
    </code></pre>
    <p>Passez ensuite sur l’instance de gitlab. Créez issue et merge request par rapport à votre branche si vous aviez choisi l’option branche locale.</p>
    <p>Ajoutez en commentaire de votre merge request : closes #{id-issue} avec {id-issue} l’id de l’issue a fermer</p>
    <p><a href="https://docs.gitlab.com/ee/user/project/issues/managing_issues.html" target="_blank" rel="noopener">https://docs.gitlab.com/ee/user/project/issues/managing_issues.html</a><br>
    (d’autres options existent)</p>
    <p></p>
    </details><h2 id="Bonus--intégration-continue">Bonus : intégration continue</h2><blockquote>
    <p>L’intégration continue est facilitée dans gitlab et associée au fonctionnement de git.<br>
    Ainsi, on peut définir des petits processus à faire a chaque fois qu’un événement est déclenché au niveau git: un tag, un push sur une branche, une merge request.</p>
    </blockquote><blockquote>
    <p>Gitlab offre aussi une solution de déploiement pour les applications statiques (application react non node, sites web).</p>
    </blockquote><p>Essayez d’héberger votre site à l’aide de la fonction pages : créez un fichier .gitlab-ci.yml a la racine de votre projet et choisissez le template html.</p><details><summary>Solution</summary>
           <img src="https://docs.gitlab.com/ee/ci/img/add_file_template_11_10.png">
            </details></div>